<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161192860498-ic6eum2v9pv8amn854oph8qogk7kufca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161192860498-ic6eum2v9pv8amn854oph8qogk7kufca</string>
	<key>API_KEY</key>
	<string>AIzaSyBuDmE3nh74jTRTQwAfDv15ZkbdTCY680U</string>
	<key>GCM_SENDER_ID</key>
	<string>161192860498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shop.one.remotely</string>
	<key>PROJECT_ID</key>
	<string>remotely-1e4b4</string>
	<key>STORAGE_BUCKET</key>
	<string>remotely-1e4b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161192860498:ios:29b59c528be0557371f88b</string>
</dict>
</plist>